<h1>My Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Time</th>
      <th>Location</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_events.each do |my_event| %>
      <tr>
      <%if Event.exists?(my_event.event_id)%>
        <td><%= Event.find(my_event.event_id).title %></td>
        <td><%= Event.find(my_event.event_id).time %></td>
        <td><%= Event.find(my_event.event_id).location %></td>
        <td><%= User.find(current_user.id).email %></td>
        <td><%= link_to 'Cancel', Event.find(my_event.event_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <%end%>
      </tr>
    <% end %>
  </tbody>
</table>